<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.onlineAssessment.infra.DAL.UserDAL">
    <sql id="table">user</sql>
    <resultMap id="result" type="user">
        <result property="name" column="name"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="salt" column="salt"/>
        <result property="clientNo" column="clientNo"/>

    </resultMap>


    <select id="queryUserInfoByUsername" resultMap="result">
        SELECT * FROM <include refid="table"/> WHERE username = #{username}
    </select>

    <insert id="insertUserInfo" useGeneratedKeys="true">
        INSERT INTO <include refid="table"/>  (
        username,
        password,
        salt,
        name,
        clientNo
        )
        VALUES (
        #{username},
        #{password},
        #{salt},
        #{name},
        #{clientNo}
        )
    </insert>


</mapper>
